<i data-feather="circle"></i>
<div class="sideNav" [ngClass]="show? 'maxwidth': 'minwidth'">
    <div class="">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-grey w-auto">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a *ngIf="show" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="navbar-brand" href="#"><h3>Nue<span style="color: green; font-weight: bold;">v</span>as</h3></span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a routerLink="/dashboard" class="nav-link text-white align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span *ngIf="show" class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/dashboard/employee-list" class="nav-link text-white px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span *ngIf="show" class="ms-1 d-none d-sm-inline">Employee</span> </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <div ngbDropdown class="d-inline-block">
                        <a href="javascript:;" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>
                            <img src="../../../../assets/Photo.jpg" alt="hugenerd" width="30" height="30" class="rounded-circle">
                            <span *ngIf="show" class="d-none d-sm-inline mx-1"  >{{user.name}}</span>
                        </a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <li><a class="dropdown-item" (click)="logOut()" href="" >Sign out</a></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="btn btn-info hideshow w-auto" [ngClass]="show? 'maxwidth': 'minwidth'" (click)="toggelNav()"><i class="bi bi-list fa-lg"></i></div>
    </div>
</div>
