<section class="pagebackground">
  <div>
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">

              <div class="col-md-8 col-lg-5 d-none d-md-block">
                <div class="image">
                  <img src="../../assets/img5.jpg" alt="login form" class="img-fluid"
                    style="border-radius: 1rem 0 0 1rem;" />
                </div>
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 text-black">
                  <!--Lock Icon-->
                  <div class="lockicon">
                    <fa-icon [icon]="faLock" class="fa-2x mt-1"></fa-icon>
                  </div>

                
                  <!-- User Details form -->
                  <div class="slide-right" *ngIf="userForm">

                    <form [formGroup]="register" (ngSubmit)="onSubmit()">
                      <div class="headingtext">
                        <h3>Register yourself</h3>
                      </div>

                      <div class="textfield">
                        <div class="form-outline mb-2">
                          <input type="name" formControlName="name"
                            [ngClass]="{'is-invalid':submitted && register.get('name')?.errors}" placeholder="Name"
                            class="form-control form-control-lg" />
                        </div>


                        <div class="form-outline mb-2">
                          <input type="number" formControlName="mobile" 
                            [ngClass]="{'is-invalid':submitted && register.get('mobile')?.errors}" placeholder="Mobile"
                            class="form-control form-control-lg" />
                        </div>


                        <div class="form-outline mb-2">
                          <input type="email" formControlName="email" 
                            [ngClass]="{'is-invalid':submitted && register.get('email')?.errors}"
                            placeholder="Email address" class="form-control form-control-lg" />

                        </div>

                        <div class="form-outline mb-3">
                          <input [type]="type" formControlName="password"
                            [ngClass]="{'is-invalid':submitted && register.get('password')?.errors}"
                            placeholder="Password" class="form-control form-control-lg" />
                          <div class="eye">
                            <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                          </div>
                        </div>


                        <div class="form-outline mb-2">
                          <input [type]="type" formControlName="confirmPass"
                            [ngClass]="{'is-invalid':submitted && register.get('confirmPass')?.errors}"
                            placeholder="Confirm Password" class="form-control form-control-lg" />
                          <div class="eye">
                            <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                          </div>
                        </div>
                      </div>



                      <div class="button">
                        <button class="btn btn-dark btn-lg col-12" type="submit">Register</button>

                      </div>



                    </form>
                  </div>
                  <!-- User Details form -->

                  <div class="bottmotext">
                    <p>Have already an account? <a routerLink="">Login here</a></p>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>